body {
    background-color: green;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 30vh;
}

table {
    background-color: lightgreen;
    border: 1px solid black;
    border-collapse: collapse;
    width: 600px;
}

td, th{
    border: 1px solid black;

}

.pic {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.picinner {
    padding: 10px;
    border: 3px solid blue;
}

img {
    padding: 0px;
    width: 200px;
    height: 150px;
}

h1 {
    color: white;
}

h2 {
    color: white;

}

.list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.words {
    padding: 20px;
}

.wordsinner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    margin-bottom: 10px;
}